* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  font-family: "Poppins", sans-serif;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4rem;
  height: 140px;
  max-width: 1500px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container p {
  font-size: 16px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav-links a {
  font-size: 14px;
  color: black;
}

.get-started-btn,
.hero-button,
.features-section-btn,
.guide-button,
.join-mail-button {
  background-color: #fab814;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

/* HERO SECTION  */
.hero-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 4rem;
  display: flex;
  align-items: center;
}

.hero-left-container {
  width: 55%;
}

.hero-right-container {
  width: 45%;
  display: flex;
  justify-content: center;
}

.hero-left-container h1 {
  font-size: 55px;
  font-weight: 700;
}

.hero-left-container h1:nth-child(1) {
  color: #262626;
}

.hero-left-container h1:nth-child(2),
.april {
  color: #b3561b;
}

.hero-text {
  margin: 1.5rem 0rem;
  font-size: 14px;
  font-weight: 400;
  color: #404040;
}

.hero-right-container .hero-image {
  width: 300px;
}

/* FEATURES  */
.features-container {
  background-color: #fff5dd;
  padding: 4rem;
  text-align: center;
}

.features-container h3 {
  text-align: center;
  font-weight: 600;
}

.features-items-container {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem auto;
  max-width: 1200px;
}

.features-items {
  background-color: #ffffff;
  flex: 1 1 0px;
  text-align: center;
  border-radius: 15px;
  padding: 2rem;
}

.features-items p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1rem;
}

.features-section-btn {
  padding: 10px 40px;
}

/* HOW IT WORKS */
.how-it-works-container {
  background-color: #421a00;
  padding: 4rem;
  text-align: center;
  color: #d6d6d6;
}

.how-it-works-container p {
  max-width: 600px;
  margin: 1.4rem auto 0;
  font-weight: 400;
  font-size: 14px;
}

.how-it-works-image {
  max-width: 600px;
  height: 400px;
  margin-top: 2rem;
}

/* GUIDE SECTION  */
.guide-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 4rem 4rem;
}

.guide-container h3 {
  color: #262626;
  font-weight: 500;
  font-size: 20px;
}

.guide-container > p {
  color: #5c5c5c;
  font-size: 14px;
}

.guide-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  gap: 2rem;
  margin: 3rem 0;
}

.guide-items-container .guide-item {
  background-color: #fff3ec;
  padding: 1.5rem;
  border-radius: 10px;
}

.guide-item p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
}

.guide-button {
  padding: 10px 40px;
}

/* BANNER  */
.banner-container {
  height: 70px;
  background-color: #ffdc64;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container p {
  font-size: 14px;
  font-weight: 500;
}

.banner-container p a {
  text-decoration: underline;
  font-size: 16px;
  color: black;
}

/* FOOTER  */
footer {
  background-color: #262626;
}

.footer-container {
  padding: 4rem;
  color: white;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

footer ul li a {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.footer-left-container,
.footer-right-container {
  width: 100%;
}

.footer-left-container,
.footer-right-container {
  display: flex;
}

.footer-left-container > div {
  width: 100%;
}

.footer-right-container > div {
  width: 50%;
}

.footer-left-container > div h6,
.footer-right-container > div h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* FORM STYLES  */

.form-input-group {
  display: flex;
  gap: 7px;
}

.join-mail-input {
  font-size: 16px;
  width: 100%;
  height: 48px;
  padding: 0px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
}

.join-mail-address-input {
  margin-top: 7px;
}

.join-mail-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
}

.join-mail-button {
  padding: 10px 40px;
}

.form-title {
  font-size: 14px;
  color: #fff;
  margin-bottom: 1rem;
}

.form-mobile {
  display: none;
}

.copyright {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  padding: 2rem 0px;
}
.connect {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-bottom: 10px;
  padding-right: 260px;
}
.socials {
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 260px;
}
button :active {
  cursor: pointer;
  opacity: 0.8;
}





























































