* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-left: 110px;
  padding-right: 110px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 50px;
}
a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.nav-button button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.pricepally-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pricepally-logo img {
  height: 30px;
  width: 3  0px;
}
main {
  display: flex;
  justify-content: space-around;
  padding-right: 70px;
  padding-left: 70px;
  align-items: center;
}
.hero-section h1 {
  font-size: 80px;
}
span {
  color: brown;
}
.hero-section {
  width: 50%;
}
.hero-section p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  white-space: nowrap;
}
.hero-button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 100px;
}

.hero-image img {
  height: px;
}
.hero-section2 {
  align-items: center;
  background: #fff5dd;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-section2 h1 {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  padding-bottom: 60px;
}
.hero-section2 p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  white-space: nowrap;
  color: #393939;
}
.hero-section2-grid {
  display: flex;
  gap: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  align-items: center;
}
.hero-section2 button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
.hero-section2-button {
  display: flex;
  justify-content: center;
}
.grids {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 250px;
  height: 150px;
}
.hero-section3 {
  background: #421a00;
  text-align: center;
  color: white;
}
.hero-section3 h3 {
  padding-top: 50px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}
.hero-section3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #d6d6d6;
}
.hero-section4 h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  color: #262626;
  padding-left: 100px;
  margin-bottom: 10px;
}
.hero-section4 p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #5c5c5c;
  padding-left: 100px;
  margin-top: 0;
  margin-bottom: 50px;
}
.hero-section4-grid p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.hero-section4-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.grids-section4 {
  background: #fff5dd;
  padding: 25px;
  border-radius: 8px;
}
.hero-section4-button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 96px;
  margin-top: 55px;
  margin-bottom: 90px;
}
.section5 {
  background: #ffdc64;
  text-align: center;
}
.section5 p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  color: #262626;
  margin-bottom: 0;
}
.section5 a {
  text-decoration: underline;
}
footer {
  background: #262626;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
footer a {
  color: white;
  line-height: 32px;
}
footer p {
  color: white;
}
ul {
  list-style-type: none;
}
.form-input-group {
  display: flex;
  gap: 7px;
}
.join-mail-input {
  font-size: 16px;
  width: 95.1%;
  height: 48px;
  padding: 0px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
}
.join-mail-address-input {
  margin-top: 7px;
}
.join-mail-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 9px;
}
.join-mail-button {
  outline: none;
  border: none;
  width: 45%;
  height: 48%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 10px;
}
@media only screen and (max-width: 400px) {
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-left: 0px;
  padding-right: 0px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 50px;
  display: none;
}
a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}
.nav-button button {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 12px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.pricepally-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.pricepally-logo img {
  height: 30px;
  width: 30px;
}
main {
  display: block;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
}
.hero-section h1 {
  font-size: 40px;
  text-align: center;
}
span {
  color: brown;
}
.hero-section {
  width: 50%;
}
.hero-section p {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  white-space: nowrap;
}
.hero-button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom:20px;
}

.hero-image img {
  height: 300px;
}
.hero-section2 {
  align-items: center;
  background: #fff5dd;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.hero-section2 h1 {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  padding-bottom: 60px;
}
.hero-section2 p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  white-space: nowrap;
  color: #393939;
}
.hero-section2-grid {
  display: block;
  gap: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  align-items: center;
}
.hero-section2 button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  background: #fab814;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 0;
}
.hero-section2-button {
  display: flex;
  justify-content: center;
}
.grids {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 250px;
  height: 150px;
}
}